.about-container{
  padding: 30px;
}

.about-header{
  font-size: 2em;
  margin: 0 0 10px 0;
  color: $md-grey;
}

.about-summary{
  font-size: $summary;
}

.about-skills-container{
  padding: 10px 20px;
  background: $grey;
}

.about-skill-headline{
  font-size: 0.8em;
  margin: 0;
  font-weight: 300;
  color: $md-dk-grey;
  &.main{
    color: $md-grey;
    margin: 0 0 10px 0;
    font-weight: 500;
    padding: 5px 0;
    font-size: 1.2em;
  }
}

.about-skill-set{
  margin: 0;
  font-weight: 500;
  &:first-of-type{
    margin: 0 0 15px 0
  }
}
