.contact-blurb{
  font-size: $summary;
}

.contact-icon{
  width: 30px;
  position: relative;
  vertical-align: bottom;
  top: 1px;
  left: 0;
}

.contact-links{
  color: $md-dk-grey;
  &:hover{
    color:$dk-grey;
    .contact-icon{
      fill: $red;
    }
  }
}
