.contact-blurb{
  font-size: $summary;
}

.contact-icon{
  width: 30px;
  position: relative;
  vertical-align: bottom;
}

.contact-links{
  color: black;
  &:hover{
    color:$red;
    .contact-icon{
      fill: $red;
    }
  }
}
