footer{
  padding: 10px;
  background-color: $dk-grey;
  text-align: center;
}

.footer-copyright{
  font-size: .75em;
  display: inline-block;
  color: $md-grey;
}

.footer-links{
  list-style: none;
  display: inline-block;
  margin: 0 0 0 20px;
  a{
    @include transition(0.3s);
    color: $md-grey;
    &:hover{
      color: lighten($md-grey, 7.5%);
      .contact-icon{
        fill: lighten($md-grey, 7.5%);
      }
    }
  }
}

.contact-icon{
  width: 30px;
  position: relative;
  vertical-align: bottom;
  top: 1px;
  left: 0;
  fill: $md-grey;
  @include transition(0.3s);
}
