footer{
  padding: 10px;
  background-color: $dk-grey;
  text-align: center;
}

.footer-copyright{
  font-size: .75em;
  display: inline-block;
  color: $md-grey;
}

.footer-links{
  list-style: none;
  display: inline-block;
  margin: 0 0 0 20px;
  a{
    color: $md-grey;
  }
}

.contact-icon{
  width: 30px;
  position: relative;
  vertical-align: bottom;
  top: 1px;
  left: 0;
  fill: $md-grey;
}
