.header-container{
  @include span-columns(12);
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 2% 0 0 10%;
  z-index: $z-header
}

.header-logo-container{
  @include span-columns(4);
  // margin: 0;
}

.header-links-container{
  @include span-columns(8);
  text-align: right;
  .header-links{
    @include span-columns(2);
    .currentRoute{
      color: $grey;
    }
  }
  .header-links:first-of-type{
    @include shift(6);
  }
}

.header-logo{
  margin: 0;
}

.header-subheadding{
  margin: 0;
}

.header-links{
  display: inline-block;
}
