.header-container{
  @include span-columns(12);
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 2% 0 0 10%;
  z-index: $z-header
}

.header-logo-container{
  @include span-columns(4);
}

.header-logo{
  margin: 0;
}

.header-subheadding{
  margin: 0;
}

.header-hamburger{
  @include span-columns(2);
  @include shift(6);
}
