.header-container{
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: left;
  padding: 20px;
  height: 80px;
  z-index: $z-header;
  @include display(flex);
  @include flex-direction(row);
}

.header-logo-icon{
  width: 40px;
  display: inline-block;
}

.header-hamburger-container{
  width: 25px;
  height: 25px;
  display: inline-block;
  background: none;
  position: relative;
  cursor: pointer;
  margin: 0 20px 0 auto;
  :active{
    @include transform(scale(0.95));
  }
}

.header-hamburger-line{
  height: 2px;
  width: 100%;
  position: absolute;
  top: 12px;
  left: 0;
  &::before, &::after{
    content: '';
    height: 2px;
    width: 25px;
    position: absolute;
  }
  &::before{
    top: 6px;
  }
  &::after{
    bottom: 6px;
  }
  &.dark{
    background: $dk-grey;
    &::before, &::after{
      background: $dk-grey;
    }
  }
  &.light{
    background: white;
    &::before, &::after{
      background: white;
    }
  }
}
