.project-container{
  position: fixed;
  height: 100%;
  width: 100%;
  background: $lt-grey;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  &.show-project{
    visibility: visible;
    opacity: 1;
  }
}

.single-project-image{
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.project-title{
  font-size: 3em;
  margin: 0 0 20px 0;
  position: relative;
  display: inline-block;
  &:after{
    content: '';
    height: 5px;
    background: #ddd;
    width: 33%;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

.project-text{
  padding: 20px;
  @include display(flex);
}

.project-brief-container{
  width: 60%;
}


.single-project-image{
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-brief{
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

.project-metadata{
  height: 0%;
  width: 40%;
  font-size: 1em;
  margin: 10px 0;
  padding: 20px 40px;
  border: 6px solid #EEE;
  display: inline-block;
  p{
    margin: 0 0 10px 0;
  }
}

.project-metadata-type{
  margin: 0;
  color: $md-dk-grey;
  font-size: 0.8em;
  font-weight: 300;
}

.project-cta-btn{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
  background: $pastel-blue;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin: 5px 10px 0 0;
  &:hover{
    color: white;
  }
}
