.projects-container{
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  background: $lt-grey;
  padding: 20px;
  height: auto;
  width: 100%;
}

.project-block-link{
  width: 100%;
  height: 100%;
}

.project-block-text{
  position: absolute;
  display: block;
  width: 100%;
}

.project-block-title{
  font-size: 2em;
  color: $dk-grey;
  margin: 0;
  display: inline-block;
  padding: 0 5px;
  background: transparentize($lt-grey, 0.2);
}

.project-block-description{
  font-size: 1em;
  font-weight: 300;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 22px black;
  width: 90%;
}

.project-block-img{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // @include linear-gradient(-33deg, transparentize(white, 0.8) 10%, transparentize(#60666B, 0.1) 50%, transparentize(white, 0.8) 80%);
    // background: linear-gradient(135deg, rgba(255,101,100,0.4) 0%, rgba(255,101,100,0) 50%, rgba(255,101,100,0) 100%),linear-gradient(45deg, rgba(40,0,215,0) 0%, rgba(40,0,215,0) 50%, rgba(40,0,215,0.4) 100%),linear-gradient(transparent 5%, rgba(0,0,0,0.8) 100%);
    position: absolute;
    background: transparentize($dk-grey, .8);
  }
}

.project-block{
  overflow: hidden;
  height: 300px;
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 63%;
  padding: 20px;
  border: none;
  @include transition(0.3s);
  .project-block-img{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    box-shadow: -30px 35px 0 $grey;
    @include transition(0.3s);
    &:hover{
      box-shadow: -30px 35px 0 darken($grey, 5%);
    }
  }
  .project-block-text{
    bottom: auto;
    top: 11%;
    left: 10%;
  }
  &:nth-child(4n+2), &:nth-child(4n+3){
    width: 33%;
    padding: 0;
    border: 6px solid $grey;
    &:hover{
      border: 6px solid darken($grey, 5%);
    }
    .project-block-text{
      left: 5%;
      top: 64%;
    }
    .project-block-title{
      left: 0;
    }
    .project-block-description{
      text-shadow: none;
      color: $dk-grey;
    }
    .project-block-img{
      width: 95%;
      height: 70%;
      padding: 20px;
      margin: 2% auto;
      box-shadow: none;
    }
  }
}
