.projects-container{
  position: absolute;
}

.project-link-container{
  @include span-columns(4);
  @include omega(3n);
  overflow: hidden;
  text-align: center;
}

.project-thumbnail{
  padding: 10px;
  @include transition(all .7s);
  height: 100%;
  width: 100%;
  opacity: 1;
}

.project-thumbnail-title{
  position: relative;
  font-size: 1em;
  margin: 0;
  &::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background: white;
    left: 50%;
    bottom: -0.25em;
    @include transform(translateX(-50%) translateY(-50%) scaleX(0));
    @include transition(all .2s);
  }
  &:hover{
    &::after{
      @include transform(translateX(-50%) translateY(-50%) scaleX(1.0));
    }
  }
}
