@import 'bourbon/bourbon',
        'neat/neat',
        'base/base',
        'vars',
        'zindex',
        'header',
        'projects',
        'individualProject',
        'about',
        'contact',
        'home',
        'transitions';

body{
  margin: 0;
  font-family: "prenton", sans-serif;
}

#app{
  padding: 2.5% 5%;
  @include media($screen-sm-max) {
    padding: 2.5%;
  }
}

.fixed-container{
  width: 100%;
  height: 100%;
  @include transition(all 0.5s ease-in-out);
}

.offset{
  padding: 25% 5%;
  @include media($screen-sm-min) {
    padding: 10% 0;
  }
  @include media($screen-sm-max) {
    padding: 5% 0;
  }
}

.closed{
  @include transform(translateX(100%));
}

.open{
  @include transform(translateX(0));
}
